body {
     background-color: gray;
}

.slide-pic {
     width: 100%;
     height: 350px;
}

.carousel-item h2 {
     color: yellow;
     background: rgb(203, 23, 10);
     background: radial-gradient(
          circle,
          rgba(203, 23, 10, 1) 50%,
          rgba(215, 19, 191, 1) 56%,
          rgba(124, 23, 156, 0.47120098039215685) 100%
     );
}
